* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
body {
    color: white;
}
.hero {
    background-image: url(assets/pexels-olly-3945608.jpg);
    height: 120vh;
    background-size: cover;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nav-left ul {
    display: flex;
    gap: 15px;
    list-style: none;
}
.nav-left a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    color: white;
}
.nav-right span {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}
.nav-right i {
    margin-right: 5px;
}
.sub-nav-right,.sub-nav-center,.sub-container,.sub-nav-left{
 display: flex;
}
.sub-container{
    justify-content: space-between;
    padding: 25px 20px;
}
.sub-container li{
    list-style: none;
    font-weight: 600;
    font-size: 20px;
}
.sub-nav-left li{
    font-size: 25px;
}
.sub-container a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.sub-nav-center ul{
    display: flex;
    column-gap: 20px;
}
.sub-nav-right button{
    font-weight: 600;
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 20px;  
    border: none;
    background-color: rgb(62, 120, 255);
    color: white;
    cursor: pointer;
}
.sub-nav-right button:hover{
    opacity: 0.7;
}
.hero-content h1{
    font-size: 70px;
    font-weight: 800;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 25px 50px;
    
}



.carousel {
    width: 500px;
    overflow: hidden;
    border: 40px solid #ffffff;
    display: flex;
    margin-left: auto; 
    margin-right: 20px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    border-right: 2px solid #ddd;
}
